/* setup snippets */
/* #e54b44 red 
#3c7bbf blue
#daecf7 light blue
#91c94c green
#6d3e95 purple  */

/*     font-family: 'Lato', sans-serif;
    heading and body
    font-family: 'Merriweather', serif; */

    /* z-index:1 - header */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* general styles */

html {
    font-size: 62.5%;
    font-family: 'Merriweather', serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1160px;
    width: 90%;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

h1  {
    font-size: 60px;
    margin: 0;
    margin-bottom: 2rem;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin: 2rem 0 3rem;
}

a {
    text-decoration: none;
    font-size: 18px;
}

p {
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    display: inline-block;
    text-align: center;
    max-width: 500px;
}

textarea {
    resize: none;
}

legend, label {
    font-size: 20px;
}

input[type=text], 
select {
    height: 48px;
}

input[type=text],
textarea, 
select {
    padding: 13px;
    margin: 10px 0;
    border:2px solid #3c7bbf;
    font-size: 18px;
    color: #3c7bbf;
    width: 100%;
}

option {
    color: #3c7bbf;
}

.red {
    color: #e54b44;
}

.blue {
    color: #3c7bbf;
}

.violet {
    color: #6d3e95
}

.green {
    color: #91c94c;
}

.button {
    padding: 1rem;
    border: 2px #3c7bbf solid;
    border-radius: 20px;
    color: white;
    background-color: #3c7bbf;
    transition: .3s ease-in-out;
}

.button:hover {
    background-color: transparent;
    color: #3c7bbf;
}

/* for opacity */
.contact-us::after,
.home::after,
.get-involved::after {
    content: "";
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* header styles */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px #00000036;
    font-family: 'Nunito', cursive;
}

.header-top_fill {
    background-color: #3c7bbf;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    justify-content: center;
    position: relative;
}

.header-top a {
    color: white;
}

.header-bottom_fill  {
    background-color: white;
}

.header-bottom a {
    font-size: 18px;
    color: #3c7bbf;
    font-weight: bold;
}

.header-top_contact ul,
.header-top_links ul,
.header-bottom_menu ul {
    display: flex;
}

.header-top_contact li,
.header-top_links li {
    padding: 1rem 2rem 1rem 0;
}

.header-top_contact a,
.header-top_links a {
    transition: .3s ease-in-out;
}

.header-top_contact a:hover,
.header-top_links a:hover {
    color: #daecf7;
}

.header-bottom_logo {
    padding-right: 2rem;
}

.header-bottom_logo img{
    width: 100px;
}

/* styling of active component*/
.header-bottom_menu a {
    padding: 2.5rem 2rem;
    text-shadow: 1px 1px #00000036;
    transition: 0.4s linear;
}

    .header-bottom_menu a.active, 
    .header-bottom_menu a:hover {
        background-color: #3c7bbf;
        color: white;
    }

    /*  for mobile styles*/

    .header-bottom_mobile {
        position: absolute;
        right: 0;
        display: none;
    }

    .header-bottom_mobile i {
        font-size: 30px;
        color: #3c7bbf;
        cursor: pointer;
    }

    .header-bottom_mobile i.fa-times-circle {
        display: none;
    }

/* home section */

.home {
    height: 95vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.home::after {
    background-image: url(./assets/kids-banner.jpg);
}

/* about us styles */

.about-us {
    padding: 10rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.about-us span.red {
    color: #e54b44;
}

.about-us img,
.about-us_info {
    max-width: 450px;
    border-radius: 5rem;
    border: 4px solid #daecf7;
}

.about-us_info {
    padding: 2rem;
}

/* get involved styles */
.get-involved {
    padding: 10rem 0;
    text-align: center;
    position: relative;
}

.get-involved::after {
    background-image: url('./assets/get-involved.jpg');
}

.get-involved i {
    color: #3c7bbf;
    font-size: 30px;
}

.get-involved_options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.get-involved_options > div {
    padding: 3rem;
    border: 2px solid #daecf7;
    background-color: rgba(218, 236, 247, 0.3);
    border-radius: 5rem;
    max-width: 350px;
    margin-top: 2rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white
}

/* Modal Content */
.modal-content {
    padding: 20px;
    position: relative;
}

/* The Close Button */
.close {
    color: #3c7bbf;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 3%;
}

.close:hover,
.close:focus {
    color: #daecf7;
    text-decoration: none;
    cursor: pointer;
}

/* volunteer form */

.volunteer-form fieldset{
    border:none;
    text-align:left;
}

.volunteer-form .address select{
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    float: left;
    color:#3c7bbf;
    position: relative;
    background-image: url(assets/br-down.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}

/* contact section styles */

.contact-us {
    text-align: center;
    position: relative;
    padding: 5rem;
    
}

.contact-us_contacts ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-us_contacts li {
    padding: 3rem 3rem 3rem 0;
}

.contact-us_contacts i {
    color: #3c7bbf;
    font-size: 20px;

}

.contact-us_contacts a {
    padding: 2rem 0;
    color: black;
    font-size: 20px;
}

.contact-us button {
    font-size: 18px;
    cursor: pointer;
}

/* footer styles */

footer {
    background-color: #3c7bbf;
    text-align: center;
}

.footer-copyrights p {
    font-size: 15px;
    color: white;
    padding: 2rem 0;
    margin: 0;
}

.footer-copyrights a {
    color: white;
    transition: .3s ease-in-out;
}

.footer-copyrights a:hover {
    color: #daecf7;
}

/* media */

@media (max-width:980px) {
    .header-top a span {
        display: none;
    }

    /* for mobile menu */
    .header-bottom {
        justify-content: space-between;
    }

    .header-bottom_menu {
        position: absolute;
        right: -45px;
        top: 72px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px #00000036;
        display: none;
        width: 120%;
        text-align: center;
    }
    
    .header-bottom_menu ul{
        flex-direction: column;
    }

    .header-bottom_menu li {
        padding: 1rem 3rem 1rem 1rem;
        border-bottom: 2px solid #3c7bbf;
    }

    .header-bottom_menu a {
        padding: 0;
    }

    .header-bottom_menu a:hover {
        color: #3c7bbf;
        background-color: transparent;
    }

    .header-bottom_mobile {
        display: inline;
    }

    a.active {
        background-color: transparent;
        color: #3c7bbf;
        font-weight: bolder;
    }

    .about-us {
        flex-wrap: wrap;
    }

    .about-us_info {
        margin-top: 1rem;
    }
}